.input-container {
    margin: 0 0 20px 0;
}

.input-wrapper {
    position: relative; 
    display: flex;
    align-items: center;
}

.input {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    padding-right: 30px; 
    flex: 1;
}

.input:hover {
    border: 1px solid #5bc0de;
}

.search-icon {
    position: absolute;
    right: 7px;
    cursor: pointer;
    color: #282c34;
    font-size: 17px;
}

.label {
    margin-right: 10px;
}

.dropdown-container-last {
    padding-top: 10px;
    margin-bottom: 25px;
}

.recipe-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .heart {
        color: darkgray;
        cursor: pointer
    }
    .heart-red {
        color: red;
        cursor: pointer
    }
    .recipe {
        background-color: darkgray;
        padding: 10px;
        margin: 0 10px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
    }
}    
